.moveForwardAnimation{
    position: absolute;
    left : 0px;
    transition: left 10ms linear;
    overflow: hidden;
    transform: 10ms;
    /* animation: moveForward 1s linear forwards; */
    /* animation-duration: 1s; */
    /* animation-iteration-count: forwards; */

}
@keyframes moveForward {
    /* 0% {left:0px} */
    
    /* 100% {left:10px} */
  }
@keyframes turnAnti {
    100% {
        transform: rotate(-15deg);
      }
  }
@keyframes turnClock {
    100% {
        transform: rotate(15deg);
      }
  }