.yellowSpriteAnimation{
    position: absolute;
    left : 0px;
    transition: left 10ms linear;
    overflow: hidden;
    transform: 10ms;
    /* background-color: blue; */

}

.blueSpriteAnimation{
  position: absolute;
  left : 0px;
  transition: left 10ms linear;
  overflow: hidden;
  transform: 10ms;
  top: 7rem;
}

.redSpriteAnimation{
  position: absolute;
  left : 0px;
  transition: left 10ms linear;
  overflow: hidden;
  transform: 10ms;
  top: 14rem
}

.overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 2;
  cursor: pointer;
}