.yellowSpriteAnimation{
    position: absolute;
    left : 0px;
    transition: left 10ms linear;
    overflow: hidden;
    transform: 10ms;
    /* background-color: blue; */

}

.blueSpriteAnimation{
  position: absolute;
  left : 20px;
  transition: left 10ms linear;
  overflow: hidden;
  transform: 10ms;

}

.redSpriteAnimation{
  position: absolute;
  left : 40px;
  transition: left 10ms linear;
  overflow: hidden;
  transform: 10ms;

}